<% content_for :head do %>
  <%= stylesheet_link_tag "carousel" %>
<% end %>

<% posts = Post.carousel(7) %>

<%= render 'layouts/carousel' %>
<%= render 'layouts/navbar' %>
<div class="container marketing">
  <div class='row'>
    <div class="col-md-9">
      <%= render 'index_main_article',  post: Post.main_article %>
      <%= render 'index_thumbs.html.erb', posts: posts[0..2] %>
      <% if posts.count >= 6 %>
      <%= render 'index_thumbs.html.erb', posts: posts[3..6] %>
    <% end %>
    </div>
    <div class='col-md-3'>

    </div>
  </div>

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p class="pull-left">&copy; Armstrong &middot; </p>
  </footer>

</div>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "bootstrap" %>
