<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "pinning" %>
  <%= stylesheet_link_tag "posts" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div class="container">
  <div class='row' style="margin: 0px 0px 20px 0px;">
  <%= link_to root_path do %>
  <%= image_tag('header.jpg') %>
  <% end %>

  </div>
  <div class='row'>
    <div class="col-md-10">
      <%= yield %>
    </div>
    <div class='col-md-2'>
      <%= render 'layouts/sidebar'%>  
    </div>
  </div>
</div>


</body>
</html>
